* {
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

@media only screen and (max-width: 768px) {
  header {
    background-color: #181818;
    width: auto;
    height: 150px;
    /* top */
    /* bottom */ }
    header .header__top {
      padding: 0.5rem 1rem 1.2rem 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      header .header__top .header__logo {
        display: flex;
        flex-flow: row; }
        header .header__top .header__logo img {
          width: 60px;
          height: 55px; }
        header .header__top .header__logo h1 {
          font-family: Arial, Helvetica, sans-serif;
          padding-top: 0.8rem;
          color: #ecbd25;
          font-size: 1.25em;
          font-weight: 500; }
          header .header__top .header__logo h1 em {
            color: #c3073f; }
      header .header__top .header__icons {
        padding: 0.1rem 0.1rem;
        color: #ecbd25;
        display: flex;
        flex-flow: row nowrap;
        font-size: 0.8em; }
        header .header__top .header__icons li a {
          padding: 0.25rem; }
        header .header__top .header__icons a:hover {
          color: #c3073f; }
    header .header__bottom {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      header .header__bottom .header__nav {
        padding: 0rem 0rem 2.5rem 0.5rem;
        color: #ecbd25; }
        header .header__bottom .header__nav .collapsible-menu {
          font-size: 1.2em; }
          header .header__bottom .header__nav .collapsible-menu a {
            display: block; }
          header .header__bottom .header__nav .collapsible-menu label {
            display: block;
            cursor: pointer;
            background: url(/img/menu.svg) no-repeat left;
            padding: 0px 0px 10px 25px; }
          header .header__bottom .header__nav .collapsible-menu input#menu {
            display: none; }
          header .header__bottom .header__nav .collapsible-menu input:checked + label {
            background-image: url(/img/close-fill.svg); }
          header .header__bottom .header__nav .collapsible-menu .menu-content {
            background-color: #181818;
            border-radius: 0.5rem;
            font-size: 0.8em;
            overflow: hidden;
            max-height: 0; }
            header .header__bottom .header__nav .collapsible-menu .menu-content li a {
              padding: 0.4rem 1rem; }
            header .header__bottom .header__nav .collapsible-menu .menu-content a:hover {
              color: #c3073f; }
          header .header__bottom .header__nav .collapsible-menu input:checked ~ label {
            background-image: url(/img/close-fill.svg); }
          header .header__bottom .header__nav .collapsible-menu input:checked ~ .menu-content {
            max-height: 100%;
            position: absolute; }
      header .header__bottom .header__searchbar {
        margin: 0rem;
        padding: 0rem;
        font-size: 0.8em; }
        header .header__bottom .header__searchbar .button {
          border-radius: 0.15rem;
          border: none;
          background-color: #c3073f;
          color: #ecbd25;
          text-shadow: 0rem 0rem 0.15rem #181818; }
        header .header__bottom .header__searchbar .input {
          height: 25px;
          border-radius: 0.2rem; } }

@media only screen and (min-width: 768px) {
  header {
    background-color: #181818;
    width: auto;
    height: auto;
    /* top */
    /* bottom */ }
    header .header__top {
      padding: 0.5rem 1rem 1.2rem 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      header .header__top .header__logo {
        display: flex;
        flex-flow: row; }
        header .header__top .header__logo img {
          width: 95px;
          height: 75px; }
        header .header__top .header__logo h1 {
          font-family: Arial, Helvetica, sans-serif;
          padding-top: 1.2rem;
          color: #ecbd25;
          font-size: 1.8em;
          font-weight: 500; }
          header .header__top .header__logo h1 em {
            color: #c3073f; }
      header .header__top .header__icons {
        padding: 0.1rem 0.1rem;
        color: #ecbd25;
        display: flex;
        flex-flow: row nowrap;
        font-size: 1.2em; }
        header .header__top .header__icons li a {
          padding: 0.25rem; }
        header .header__top .header__icons a:hover {
          color: #c3073f; }
    header .header__bottom {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      header .header__bottom .header__nav {
        padding: 0rem;
        color: #ecbd25; }
        header .header__bottom .header__nav .collapsible-menu .menu-content {
          display: flex;
          flex-flow: row wrap;
          font-size: 1em;
          font-weight: 500; }
          header .header__bottom .header__nav .collapsible-menu .menu-content li a {
            padding: 0rem 0.8rem; }
          header .header__bottom .header__nav .collapsible-menu .menu-content a:hover {
            color: #c3073f; }
        header .header__bottom .header__nav .collapsible-menu input {
          display: none; }
        header .header__bottom .header__nav .collapsible-menu label {
          display: none; }
      header .header__bottom .header__searchbar {
        padding: 1.5rem; }
        header .header__bottom .header__searchbar .button {
          margin: 0;
          padding: 0.2rem;
          border-radius: 0.2rem;
          border: none;
          background-color: #c3073f;
          color: #ecbd25;
          font-size: 0.8em;
          text-shadow: 0rem 0rem 0.15rem #181818; }
        header .header__bottom .header__searchbar .input {
          margin: 0rem;
          width: 320px;
          height: 30px;
          border-radius: 0.3rem;
          background-color: lightgrey;
          font-size: 0.8em; } }

@media only screen and (max-width: 992px) {
  main {
    background-color: #e0dbb4;
    /* index */
    /* catalogo */
    /* PublicDomain */
    /* nosotros */
    /* contacto */ }
    main .index {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      main .index .quote {
        width: 700px;
        background-image: url(img/bgquote-sm.jpg);
        background-color: #181818;
        background-size: cover;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0rem 0rem 0.2rem;
        padding: 2rem;
        color: #eaf1ec;
        text-shadow: 0.15rem 0.15rem 0.1rem #181818;
        font-family: serif;
        letter-spacing: 0.1rem;
        word-spacing: 0.1rem;
        font-size: 0.8em;
        font-weight: 500;
        text-align: end; }
      main .index .main {
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
        main .index .main .aside-bd {
          margin: 0rem 1rem;
          max-width: 700px;
          background-color: #790427;
          border-radius: 0.15rem; }
          main .index .main .aside-bd .bd-title {
            padding: 0.3rem;
            background-color: #181818;
            border-radius: 0.15rem;
            color: #ecbd25;
            text-align: center;
            font-size: 1em;
            font-weight: light; }
          main .index .main .aside-bd .bd-text {
            padding: 0.5rem 0.2rem;
            font-size: 0.8em;
            text-align: center;
            color: #eaf1ec; }
        main .index .main .section {
          max-width: 700px;
          min-width: auto;
          height: auto;
          background-color: rgba(24, 24, 24, 0.7); }
          main .index .main .section .heading {
            background-color: #181818;
            border-radius: 0.3rem; }
            main .index .main .section .heading .heading__title {
              padding: 0.5rem 0.2rem;
              color: #ecbd25;
              text-align: center;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1em;
              font-weight: 700; }
          main .index .main .section .card {
            background-color: rgba(24, 24, 24, 0.2);
            position: relative;
            width: 200px; }
          main .index .main .section img {
            opacity: 1;
            backface-visibility: hidden;
            max-width: 120px;
            height: auto;
            align-self: center; }
          main .index .main .section .texto {
            opacity: 0;
            top: 25%;
            left: 25%;
            right: 25%;
            bottom: 25%;
            position: absolute; }
          main .index .main .section .card:hover img {
            opacity: 0.25; }
          main .index .main .section .card:hover .texto {
            opacity: 1;
            color: #eaf1ec;
            font-size: 0.7em;
            font-weight: 600;
            text-shadow: 0rem 0rem 0.2rem #181818;
            text-align: center;
            padding: 0.2rem; }
            main .index .main .section .card:hover .texto button {
              padding: 0.2rem 0rem;
              color: #ecbd25;
              text-shadow: 0.1rem 0.1rem 0rem #181818;
              background-color: #790427;
              box-shadow: 0rem 0.1rem 0.5rem #181818;
              border-radius: 0.3rem;
              font-weight: lighter; }
        main .index .main .aside {
          width: auto;
          padding: 1rem 1.5rem; }
          main .index .main .aside .news {
            background-color: #790427; }
            main .index .main .aside .news .news__title {
              font-family: Arial, Helvetica, sans-serif;
              background-color: #181818;
              color: #ecbd25;
              text-align: center;
              font-size: 1em; }
            main .index .main .aside .news p {
              padding: 0.2rem;
              font-size: 0.8em;
              text-align: center;
              color: #eaf1ec; }
    main .catalog {
      display: flex;
      flex-flow: column; }
      main .catalog .navcateg {
        display: grid;
        grid-template-areas: "pri" "categ" "sec" "subcateg";
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto 3fr;
        width: auto;
        height: auto;
        background-color: rgba(121, 4, 39, 0.8); }
        main .catalog .navcateg .categ__title--pri {
          grid-area: pri;
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0.5rem 1rem;
          background-color: #2c2c2c;
          color: #ecbd25;
          font-size: 0.8em;
          font-weight: 600; }
        main .catalog .navcateg .categories {
          margin: 0;
          padding: 0.5rem 1rem;
          grid-area: categ;
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          color: #eaf1ec;
          text-align: center;
          font-size: 0.8em; }
        main .catalog .navcateg .categ__title--sec {
          grid-area: sec;
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0.5rem 1rem;
          background-color: #2c2c2c;
          color: #ecbd25;
          font-size: 0.8em;
          font-weight: 600; }
        main .catalog .navcateg .subcategories {
          margin: 0;
          padding: 0.5rem 0.2rem;
          grid-area: subcateg;
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          color: #eaf1ec;
          text-align: center;
          font-size: 0.8em; }
          main .catalog .navcateg .subcategories li a {
            padding: 0rem 0.4rem; }
        main .catalog .navcateg a:hover {
          color: #181818;
          text-shadow: 0.01rem 0.01rem 0.1rem #181818; }
      main .catalog .library {
        padding: 3rem 0.5rem; }
        main .catalog .library .library__title {
          margin: 0;
          padding: 0.2rem 0.1rem;
          background-color: #ecbd25;
          color: #181818;
          text-align: end;
          font-size: 0.7em;
          font-weight: 400; }
        main .catalog .library .card {
          background-color: rgba(24, 24, 24, 0.2);
          position: relative; }
        main .catalog .library img {
          opacity: 1;
          backface-visibility: hidden;
          min-width: 105px; }
        main .catalog .library .texto {
          opacity: 0;
          top: 5%;
          left: 25%;
          right: 20%;
          bottom: 20%;
          position: absolute;
          display: flex;
          flex-flow: column; }
        main .catalog .library .card:hover img {
          opacity: 0.2; }
        main .catalog .library .card:hover .texto {
          opacity: 1;
          color: #181818;
          margin: 0;
          padding: 0;
          font-size: 0.7em;
          font-weight: 600;
          text-shadow: 0rem 0rem 0.2rem #eaf1ec;
          text-align: center; }
          main .catalog .library .card:hover .texto button {
            padding: 0.2rem 0rem;
            color: #ecbd25;
            text-shadow: 0.1rem 0.1rem 0rem #181818;
            background-color: #790427;
            box-shadow: 0rem 0.1rem 0.5rem #181818;
            border-radius: 0.3rem;
            font-weight: 300; }
    main .mainpubdomain {
      margin: 0;
      padding: 2rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      main .mainpubdomain .pubdomain {
        background-color: rgba(24, 24, 24, 0.2);
        border: none;
        border-radius: 0.3rem;
        max-width: 700px;
        min-width: auto; }
        main .mainpubdomain .pubdomain .pubdomain__title {
          margin: 0;
          padding: 0.4rem;
          background-color: #2c2c2c;
          box-shadow: 0rem 0rem 1.5rem #181818;
          border-radius: 0.3rem 0.3rem 0rem 0rem;
          color: #ecbd25;
          font-size: 1.5em;
          text-align: center; }
        main .mainpubdomain .pubdomain .pubdomain__body {
          padding: 1rem 0rem;
          color: #181818;
          text-align: center;
          font-size: 1em;
          font-weight: 500; }
      main .mainpubdomain .pubdomain__catalog {
        margin: 1rem;
        max-width: 950px;
        min-width: auto;
        border: 0.3rem solid #181818;
        border-radius: 0.5rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
        main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--title {
          width: 100%;
          margin: 0.3rem;
          text-align: center;
          background-color: #790427;
          box-shadow: 0rem 0rem 1rem #181818;
          color: #ecbd25;
          text-shadow: 0rem 0.25rem 0.5rem #181818; }
        main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body {
          margin: 0.5rem;
          padding: 0;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-content: center; }
          main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card {
            width: 150px;
            height: 280px;
            margin: 0.25rem;
            padding: 0.3rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            background-color: #2c2c2c;
            color: #eaf1ec;
            border: 0.1rem solid #790427;
            border-radius: 0.2rem;
            text-align: center; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card .pd-card-title {
              margin: 0;
              padding: 0.8rem;
              color: #eaf1ec;
              text-shadow: 0rem 0rem 1rem #181818;
              font-size: 0.6rem;
              font-weight: 500; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card .pd-card-author {
              margin: 0;
              padding: 0.2rem;
              color: #eaf1ec;
              text-shadow: 0rem 0rem 1rem #181818;
              font-size: 0.6rem;
              font-weight: 400; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card img {
              max-width: 90px;
              max-height: 120px;
              border: 0.15rem solid #181818;
              box-shadow: 0rem 0rem 1.5rem #181818; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card button {
              margin: 0rem 0.1rem;
              padding: 0.1rem;
              background-color: #181818;
              border: none;
              color: #eaf1ec;
              font-size: 0.65em; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card button:hover {
              background-color: #eaf1ec;
              color: #181818; }
          main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card:hover {
            background-color: #790427;
            border: 0.1rem solid #181818; }
    main .info {
      margin: 0;
      padding: 0.5rem;
      width: auto; }
      main .info .info__title {
        padding: 0.2rem 0rem;
        background-color: #181818;
        color: #eaf1ec;
        border-radius: 0.2rem;
        font-size: 1em; }
      main .info .info__body .info__body--title {
        padding: 0.1rem 0rem;
        background-color: #ecbd25;
        border: 0.1rem solid #2c2c2c;
        border-radius: 0.2rem;
        font-size: 0.85em; }
      main .info .info__body .info__body--content {
        padding: 0.5rem 0.1rem;
        background-color: #eaf1ec; }
    main .form .form__title {
      padding: 0.2rem;
      margin: 0;
      background-color: #ecbd25;
      color: #181818;
      text-align: center;
      font-size: 0.2em;
      font-weight: bold; }
    main .form .form__body {
      padding: 1rem 0.5rem;
      text-align: center;
      background-color: #eaf1ec;
      border: 0.1rem solid #181818; }
      main .form .form__body .form__body--input {
        display: flex;
        flex-flow: column nowrap;
        font-size: 0.8em;
        font-weight: bold; }
      main .form .form__body .form__body--news {
        font-size: 1em;
        font-weight: bold; }
      main .form .form__body .form__body--comment {
        font-size: 1em;
        font-weight: bold; }
      main .form .form__body .form__buttons {
        font-size: 1em;
        font-weight: lighter; }
        main .form .form__body .form__buttons .button {
          padding: 0.1rem 0.4rem;
          border-radius: 0.2rem;
          background-color: #c3073f;
          color: #ecbd25;
          font-weight: bold;
          text-shadow: 0.1rem 0.1rem 0rem #181818; } }

@media only screen and (min-width: 992px) {
  main {
    background-color: #e0dbb4;
    /* index */
    /* catalogo */
    /* PublicDomain */
    /* nosotros*/
    /* contacto*/ }
    main .index {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      main .index .quote {
        margin-top: 0.5rem;
        padding: 4rem 1rem;
        width: 900px;
        height: 250px;
        background-image: url(https://github.com/lucia-gesualdi/repositorioGITHUB/blob/master/img/bgquote-md.jpg);
        background-color: #181818;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #eaf1ec;
        text-shadow: 0rem 0.1rem 0.5rem black;
        font-family: serif;
        font-size: 1em;
        font-weight: 350;
        letter-spacing: 0.1rem;
        word-spacing: 0.15rem;
        text-align: right; }
      main .index .main {
        width: 900px;
        align-self: center;
        display: grid;
        grid-template-areas: "aside1 section"
 "aside2 section"
 "none section";
        grid-template-columns: 25% 75%;
        grid-template-rows: auto; }
        main .index .main .section {
          background-color: rgba(24, 24, 24, 0.7);
          grid-area: section;
          margin: 0.5rem 0rem; }
          main .index .main .section .heading {
            background-color: #181818; }
            main .index .main .section .heading .heading__title {
              padding: 0.5rem 0.2rem;
              margin-bottom: 0.2rem;
              color: #ecbd25;
              text-align: center;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.3em;
              font-weight: 700; }
          main .index .main .section .card {
            background-color: rgba(24, 24, 24, 0.2);
            position: relative;
            width: 350px;
            height: auto;
            margin: 0rem 0.5rem; }
          main .index .main .section img {
            opacity: 1;
            backface-visibility: hidden;
            width: 150px;
            height: auto;
            align-self: center; }
          main .index .main .section .texto {
            opacity: 0;
            top: 20%;
            left: 10%;
            right: 10%;
            bottom: 35%;
            position: absolute; }
          main .index .main .section .card:hover img {
            opacity: 0.25; }
          main .index .main .section .card:hover .texto {
            opacity: 1;
            color: #eaf1ec;
            font-size: 1em;
            font-weight: 400;
            text-shadow: 0rem 0rem 0.2rem #181818;
            text-align: center; }
            main .index .main .section .card:hover .texto button {
              padding: 0.2rem 0rem;
              color: #ecbd25;
              text-shadow: 0.1rem 0.1rem 0rem #181818;
              background-color: #790427;
              box-shadow: 0rem 0.1rem 0.5rem #181818;
              border-radius: 0.3rem;
              font-weight: 400; }
        main .index .main .aside-bd {
          grid-area: aside1;
          margin: 0.5rem 1rem 0.5rem 0rem;
          background-color: #790427;
          border-radius: 0.25rem; }
          main .index .main .aside-bd .bd-title {
            padding: 0.3rem;
            background-color: #181818;
            border-radius: 0.2rem;
            color: #ecbd25;
            text-align: center;
            font-size: 1em;
            font-weight: light; }
          main .index .main .aside-bd .bd-text {
            padding: 0.5rem 0.2rem;
            font-size: 0.8em;
            text-align: center;
            color: #eaf1ec; }
        main .index .main .aside {
          grid-area: aside2;
          margin: 0.5rem 1rem 0.5rem 0rem;
          border-radius: 0.25rem; }
          main .index .main .aside .news {
            background-color: #790427;
            border-radius: 0.1rem; }
            main .index .main .aside .news .news__title {
              padding: 0.3rem;
              background-color: #181818;
              border-radius: 0.2rem;
              color: #ecbd25;
              text-align: center;
              font-size: 1em;
              font-weight: light; }
            main .index .main .aside .news p {
              padding: 0.2rem 0.2rem 0.3rem 0.2rem;
              font-size: 0.8em;
              text-align: center;
              color: #eaf1ec; }
    main .catalog {
      width: 992px;
      height: auto;
      margin: auto;
      display: grid;
      grid-template-areas: "categories library";
      grid-template-columns: 20% 80%;
      grid-template-rows: auto;
      align-content: center; }
      main .catalog .navcateg {
        grid-area: categories;
        background-color: rgba(121, 4, 39, 0.8);
        color: #eaf1ec;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        width: 100%;
        padding-top: 2rem; }
        main .catalog .navcateg .categories,
        main .catalog .navcateg .subcategories {
          margin: 0;
          padding: 0.5rem 0.2rem;
          text-align: start;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 0.7em;
          font-weight: 200;
          line-height: 1.2rem; }
        main .catalog .navcateg .categ__title--pri,
        main .catalog .navcateg .categ__title--sec {
          padding: 0.2rem;
          background-color: #2c2c2c;
          color: #ecbd25;
          box-shadow: 0rem 0.1rem 1rem #181818;
          text-align: start;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1em;
          font-weight: 400;
          letter-spacing: 0.1rem; }
        main .catalog .navcateg a:hover {
          color: #ecbd25; }
      main .catalog .library {
        grid-area: library;
        width: 100%;
        margin: 2rem 0rem 0rem 1rem; }
        main .catalog .library .library__title {
          padding: 0.2rem;
          border-radius: 0.25rem;
          background-color: #ecbd25;
          box-shadow: 0rem 0rem 1rem #181818;
          color: #181818;
          text-align: end;
          font-size: 0.8em;
          font-weight: 500; }
        main .catalog .library .card {
          background-color: rgba(24, 24, 24, 0.2);
          position: relative;
          width: 190px;
          height: auto; }
        main .catalog .library img {
          opacity: 1;
          backface-visibility: hidden; }
        main .catalog .library .texto {
          opacity: 0;
          top: 20%;
          left: 20%;
          right: 20%;
          bottom: 20%;
          position: absolute;
          display: flex;
          flex-flow: column; }
        main .catalog .library .card:hover img {
          opacity: 0.25; }
        main .catalog .library .card:hover .texto {
          opacity: 1;
          color: #181818;
          font-size: 0.8em;
          font-weight: 700;
          text-shadow: 0rem 0rem 0.2rem #eaf1ec;
          text-align: center;
          padding: 0.2rem; }
          main .catalog .library .card:hover .texto button {
            padding: 0.2rem 0rem;
            color: #ecbd25;
            text-shadow: 0.1rem 0.1rem 0rem #181818;
            background-color: #790427;
            box-shadow: 0rem 0.1rem 0.5rem #181818;
            border-radius: 0.3rem;
            font-weight: 400; }
        main .catalog .library img {
          min-width: 108px; }
    main .mainpubdomain {
      margin: 0;
      padding: 2rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      main .mainpubdomain .pubdomain {
        background-color: rgba(24, 24, 24, 0.2);
        border: none;
        border-radius: 0.3rem;
        width: 850px; }
        main .mainpubdomain .pubdomain .pubdomain__title {
          margin: 0;
          padding: 0.4rem;
          background-color: #2c2c2c;
          box-shadow: 0rem 0rem 1.5rem #181818;
          border-radius: 0.3rem 0.3rem 0rem 0rem;
          color: #ecbd25;
          font-size: 1.75em;
          text-align: center; }
        main .mainpubdomain .pubdomain .pubdomain__body {
          padding: 1rem 0rem;
          color: #181818;
          text-align: center;
          font-size: 1em;
          font-weight: 500; }
      main .mainpubdomain .pubdomain__catalog {
        margin: 1rem;
        width: 990px;
        border: 0.5rem solid #181818;
        border-radius: 0.5rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
        main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--title {
          width: 970px;
          margin: 0.8rem 0rem;
          padding: 0.3em 0rem;
          text-align: center;
          background-color: #790427;
          box-shadow: 0rem 0rem 1rem #181818;
          color: #ecbd25;
          text-shadow: 0rem 0.25rem 0.5rem #181818; }
        main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body {
          margin: 0.5rem;
          padding: 0;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-content: center; }
          main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card {
            width: 200px;
            height: 280px;
            margin: 0.25rem;
            padding: 0.3rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            background-color: #2c2c2c;
            color: #eaf1ec;
            border: 0.1rem solid #790427;
            border-radius: 0.2rem;
            text-align: center; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card .pd-card-title {
              margin: 0;
              padding: 0.8rem;
              color: #eaf1ec;
              text-shadow: 0rem 0rem 1rem #181818;
              font-size: 0.7rem;
              font-weight: 500; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card .pd-card-author {
              margin: 0;
              padding: 0.2rem;
              color: #eaf1ec;
              text-shadow: 0rem 0rem 1rem #181818;
              font-size: 0.6rem;
              font-weight: 500; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card img {
              max-width: 120px;
              max-height: 130px;
              border: 0.25rem solid #181818;
              box-shadow: 0rem 0rem 1.5rem #181818; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card button {
              margin: 0rem 0.1rem;
              padding: 0.1rem;
              background-color: #181818;
              border: none;
              color: #eaf1ec;
              font-size: 0.75em; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card button:hover {
              background-color: #eaf1ec;
              color: #181818; }
          main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card:hover {
            background-color: #790427;
            border: 0.1rem solid #181818; }
    main .info {
      background-image: url(/img/bgimage2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0;
      padding: 2rem; }
      main .info .info__title {
        width: 990px;
        padding: 0.5rem 0rem;
        background-color: #181818;
        color: #eaf1ec;
        border-radius: 0.2rem;
        font-size: 2em; }
      main .info .info__body {
        width: 990px; }
        main .info .info__body .info__body--title {
          padding: 0.1rem 0rem;
          background-color: #ecbd25;
          border: 0.1rem solid #181818;
          border-radius: 0.2rem;
          font-size: 1.5em; }
        main .info .info__body .info__body--content {
          padding: 1rem 0rem;
          background-color: #eaf1ec;
          letter-spacing: 0.1rem;
          word-spacing: 0.2rem;
          line-height: 1.7rem;
          font-weight: 450; }
    main .form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0rem;
      padding: 2rem;
      background-image: url(/img/bgimage2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      main .form .form__title {
        width: 990px;
        margin: 0.4rem;
        padding: 0.2rem;
        background-color: #181818;
        color: #ecbd25;
        border-radius: 0.2rem;
        text-align: center;
        font-size: 1.5em; }
      main .form .form__body {
        width: 990px;
        padding: 1rem 0.5rem;
        text-align: center;
        background-color: #eaf1ec;
        border: 0.2rem solid #181818;
        border-radius: 0.5rem; }
        main .form .form__body .form__body--input {
          display: flex;
          flex-flow: column nowrap;
          font-size: 1.2em;
          font-weight: bold; }
        main .form .form__body .form__body--news {
          font-size: 1.2em;
          font-weight: bold; }
        main .form .form__body .form__body--comment {
          font-size: 1.2em;
          font-weight: bold; }
        main .form .form__body .form__buttons {
          font-size: 1.2em;
          font-weight: bold; }
          main .form .form__body .form__buttons .button {
            padding: 0.1rem 0.4rem;
            border-radius: 0.2rem;
            background-color: #c3073f;
            color: #ecbd25;
            text-shadow: 0.1rem 0.1rem 0rem #181818; } }

@media only screen and (min-width: 1400px) {
  main {
    background-image: radial-gradient(beige 20%, #e0dbb4 80%);
    /* index */
    /* catalogo */
    /* PublicDomain */
    /* nosotros*/
    /* contacto*/ }
    main .index {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      main .index .quote {
        margin-top: 0.5rem;
        padding: 5rem;
        width: 1400px;
        height: 300px;
        background-image: url(/img/bgquote-xl.jpg);
        background-color: #181818;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #eaf1ec;
        text-shadow: 0rem 0.1rem 0.5rem black;
        font-family: serif;
        font-size: 1.4em;
        font-weight: 350;
        letter-spacing: 0.15rem;
        word-spacing: 0.2rem;
        text-align: right; }
      main .index .main {
        width: 1400px;
        align-self: center;
        display: grid;
        grid-template-areas: "aside1 section aside2";
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto; }
        main .index .main .section {
          background-color: rgba(24, 24, 24, 0.7);
          grid-area: section;
          margin: 1rem; }
          main .index .main .section .heading {
            background-color: #181818; }
            main .index .main .section .heading .heading__title {
              padding: 0.5rem 0.2rem;
              margin-bottom: 0.2rem;
              color: #ecbd25;
              text-align: center;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.3em;
              font-weight: 700; }
          main .index .main .section .card {
            background-color: rgba(24, 24, 24, 0.2);
            position: relative;
            width: 350px;
            height: auto;
            margin: 0rem 0.5rem; }
          main .index .main .section img {
            opacity: 1;
            backface-visibility: hidden;
            width: 150px;
            height: auto;
            align-self: center; }
          main .index .main .section .texto {
            opacity: 0;
            top: 20%;
            left: 10%;
            right: 10%;
            bottom: 35%;
            position: absolute; }
          main .index .main .section .card:hover img {
            opacity: 0.25; }
          main .index .main .section .card:hover .texto {
            opacity: 1;
            color: #eaf1ec;
            font-size: 1em;
            font-weight: 400;
            text-shadow: 0rem 0rem 0.2rem #181818;
            text-align: center; }
            main .index .main .section .card:hover .texto button {
              padding: 0.2rem 0rem;
              color: #ecbd25;
              text-shadow: 0.1rem 0.1rem 0rem #181818;
              background-color: #790427;
              box-shadow: 0rem 0.1rem 0.5rem #181818;
              border-radius: 0.3rem;
              font-weight: 400; }
        main .index .main .aside {
          grid-area: aside2;
          position: sticky;
          top: 0;
          margin: 1rem 0rem 1rem 1rem; }
          main .index .main .aside .news {
            margin: 0rem;
            background-color: #790427;
            border-radius: 0.3rem; }
            main .index .main .aside .news .news__title {
              padding: 0.3rem;
              background-color: #181818;
              border-radius: 0.3rem;
              color: #ecbd25;
              text-align: center;
              font-size: 1.25em;
              font-weight: light; }
            main .index .main .aside .news p {
              padding: 0.5rem 0.1rem;
              font-size: 1em;
              text-align: center;
              color: #eaf1ec; }
        main .index .main .aside-bd {
          grid-area: aside1;
          position: sticky;
          top: 0;
          margin: 1rem 1rem 1rem 0rem;
          background-color: #790427;
          border-radius: 0.3rem; }
          main .index .main .aside-bd .bd-title {
            padding: 0.3rem;
            background-color: #181818;
            border-radius: 0.3rem;
            color: #ecbd25;
            text-align: center;
            font-size: 1.25em;
            font-weight: light; }
          main .index .main .aside-bd .bd-text {
            padding: 0.5rem 0.2rem;
            font-size: 1em;
            text-align: center;
            color: #eaf1ec; }
    main .catalog {
      width: 1400px;
      height: auto;
      margin: auto;
      display: grid;
      grid-template-areas: "categories library";
      grid-template-columns: 20% 80%;
      grid-template-rows: auto; }
      main .catalog .navcateg {
        grid-area: categories;
        width: auto;
        margin: 0rem 1rem;
        padding: 2rem 0rem;
        background-color: rgba(121, 4, 39, 0.8);
        color: #eaf1ec;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch; }
        main .catalog .navcateg .categories,
        main .catalog .navcateg .subcategories {
          margin: 0;
          padding: 0.5rem 0.5rem;
          text-align: start;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 0.75em;
          font-weight: 200;
          line-height: 1.25rem; }
        main .catalog .navcateg .categ__title--pri,
        main .catalog .navcateg .categ__title--sec {
          padding: 0.25rem 1rem;
          background-color: #2c2c2c;
          color: #ecbd25;
          box-shadow: 0rem 0.1rem 1rem #181818;
          text-align: start;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1em;
          font-weight: 600;
          letter-spacing: 0.1rem; }
        main .catalog .navcateg a:hover {
          color: #ecbd25; }
      main .catalog .library {
        grid-area: library;
        width: auto;
        margin: 2rem 0rem 0rem 1rem; }
        main .catalog .library .library__title {
          margin: 0.2rem 0rem;
          padding: 0.5rem;
          border-radius: 0.25rem;
          background-color: #ecbd25;
          box-shadow: 0rem 0rem 1rem #181818;
          color: #181818;
          text-align: end;
          font-size: 1em;
          font-weight: bold; }
        main .catalog .library .card {
          background-color: rgba(24, 24, 24, 0.2);
          position: relative;
          width: 250px;
          height: auto; }
        main .catalog .library img {
          opacity: 1;
          backface-visibility: hidden; }
        main .catalog .library .texto {
          opacity: 0;
          top: 20%;
          left: 20%;
          right: 20%;
          bottom: 20%;
          position: absolute;
          display: flex;
          flex-flow: column; }
        main .catalog .library .card:hover img {
          opacity: 0.25; }
        main .catalog .library .card:hover .texto {
          opacity: 1;
          color: #181818;
          font-size: 1em;
          font-weight: 700;
          text-shadow: 0rem 0rem 0.2rem #eaf1ec;
          text-align: center;
          padding: 0.2rem; }
          main .catalog .library .card:hover .texto button {
            padding: 0.2rem 0rem;
            color: #ecbd25;
            text-shadow: 0.1rem 0.1rem 0rem #181818;
            background-color: #790427;
            box-shadow: 0rem 0.1rem 0.5rem #181818;
            border-radius: 0.3rem;
            font-weight: 600; }
        main .catalog .library img {
          min-width: 108px; }
    main .mainpubdomain {
      margin: 0;
      padding: 2rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      main .mainpubdomain .pubdomain {
        background-color: rgba(24, 24, 24, 0.2);
        border: none;
        width: 1200px;
        border-radius: 0.3rem; }
        main .mainpubdomain .pubdomain .pubdomain__title {
          margin: 0;
          padding: 0.4rem;
          background-color: #2c2c2c;
          box-shadow: 0rem 0rem 1.5rem #181818;
          color: #ecbd25;
          font-size: 1.8em;
          text-align: center; }
        main .mainpubdomain .pubdomain .pubdomain__body {
          color: #181818;
          text-align: center;
          font-size: large;
          font-weight: 500; }
      main .mainpubdomain .pubdomain__catalog {
        margin: 1rem;
        width: 1400px;
        border: 0.5rem solid #181818;
        border-radius: 0.5rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
        main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--title {
          width: 1380px;
          margin: 1rem 0rem 2rem 0rem;
          padding: 0.5em 0rem;
          text-align: center;
          background-color: #790427;
          box-shadow: 0rem 0rem 1rem #181818;
          color: #ecbd25;
          text-shadow: 0rem 0.25rem 0.5rem #181818; }
        main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body {
          margin: 1rem;
          padding: 0;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-content: center; }
          main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card {
            width: 280px;
            height: 320px;
            margin: 0.5rem 1rem;
            padding: 0.8rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            background-color: #2c2c2c;
            color: #eaf1ec;
            border: 0.2rem solid #790427;
            border-radius: 0.3rem;
            text-align: center; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card .pd-card-title {
              color: #eaf1ec;
              text-shadow: 0rem 0rem 1rem #181818;
              font-size: 0.75rem;
              font-weight: 600;
              letter-spacing: 0.1rem; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card .pd-card-author {
              color: #eaf1ec;
              text-shadow: 0rem 0rem 1rem #181818;
              font-size: 0.75rem;
              font-weight: 400; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card img {
              max-width: 120px;
              max-height: 180px;
              border: 0.5rem solid #181818;
              box-shadow: 0rem 0rem 1.5rem #181818; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card button {
              margin: 0rem 0.5rem;
              padding: 0.05rem 0.3rem;
              background-color: #181818;
              border: none;
              color: #eaf1ec;
              font-size: 0.85em; }
            main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card button:hover {
              background-color: #eaf1ec;
              color: #181818; }
          main .mainpubdomain .pubdomain__catalog .pubdomain__catalog--body .pd-card:hover {
            background-color: #790427;
            border: 0.2rem solid #181818; }
    main .info {
      background-image: url(/img/bgimage2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0;
      padding: 2rem; }
      main .info .info__title {
        width: 990px;
        padding: 0.5rem 0rem;
        background-color: #181818;
        color: #eaf1ec;
        border-radius: 0.2rem;
        font-size: 2em; }
      main .info .info__body {
        width: 990px; }
        main .info .info__body .info__body--title {
          padding: 0.1rem 0rem;
          background-color: #ecbd25;
          border: 0.1rem solid #181818;
          border-radius: 0.2rem;
          font-size: 1.5em; }
        main .info .info__body .info__body--content {
          padding: 1rem 0rem;
          background-color: #eaf1ec;
          letter-spacing: 0.1rem;
          word-spacing: 0.2rem;
          line-height: 1.7rem;
          font-weight: 450; }
    main .form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0rem;
      padding: 2rem;
      background-image: url(/img/bgimage2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      main .form .form__title {
        width: 990px;
        margin: 0.4rem;
        padding: 0.2rem;
        background-color: #181818;
        color: #ecbd25;
        border-radius: 0.2rem;
        text-align: center;
        font-size: 1.5em; }
      main .form .form__body {
        width: 990px;
        padding: 1rem 0.5rem;
        text-align: center;
        background-color: #eaf1ec;
        border: 0.2rem solid #181818;
        border-radius: 0.5rem; }
        main .form .form__body .form__body--input {
          display: flex;
          flex-flow: column nowrap;
          font-size: 1.2em;
          font-weight: bold; }
        main .form .form__body .form__body--news {
          font-size: 1.2em;
          font-weight: bold; }
        main .form .form__body .form__body--comment {
          font-size: 1.2em;
          font-weight: bold; }
        main .form .form__body .form__buttons {
          font-size: 1.2em;
          font-weight: bold; }
          main .form .form__body .form__buttons .button {
            padding: 0.1rem 0.4rem;
            border-radius: 0.2rem;
            background-color: #c3073f;
            color: #ecbd25;
            text-shadow: 0.1rem 0.1rem 0rem #181818; } }

@media screen and (max-width: 768px) {
  article {
    background-image: url(/img/vintage-paper.png);
    background-repeat: repeat;
    background-size: 10%; }
    article .article {
      display: flex;
      flex-flow: column nowrap; }
      article .article .article__title {
        max-width: 700px;
        text-align: center;
        background-color: #181818;
        color: #c3073f;
        font-size: 1.1em;
        padding: 0.5rem 0rem; }
      article .article .article__content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: rgba(24, 24, 24, 0.3); }
        article .article .article__content .content__title {
          font-size: 0.85em;
          font-weight: 600;
          text-decoration: underline;
          text-align: center; }
        article .article .article__content li .vid1 .vid2 .vid3 .vid4 .vid5 .vid6 .vid7 .vid8 {
          width: auto; } }

@media screen and (min-width: 768px) {
  article {
    background-image: url(/img/vintage-paper.png);
    background-repeat: repeat;
    background-size: 20%;
    padding: 1.5rem 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center; }
    article .article {
      width: 990px;
      height: auto; }
      article .article .article__title {
        text-align: center;
        background-color: #181818;
        color: #c3073f;
        padding: 0.5rem 0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 0.1rem; }
      article .article .article__content {
        width: auto;
        height: auto;
        padding: 1rem 0.2rem;
        display: grid;
        grid-template-areas: "v1 v2"
 "v3 v4"
 "v5 v6";
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3 1fr);
        justify-items: center;
        background-color: rgba(24, 24, 24, 0.2);
        border-radius: 0.5rem;
        color: #2c2c2c; }
        article .article .article__content .content__title {
          font-size: 0.8em;
          font-weight: 500;
          text-align: start;
          text-decoration: underline; }
        article .article .article__content li .vid1 {
          grid-area: v1; }
        article .article .article__content li .vid2 {
          grid-area: v2; }
        article .article .article__content li .vid3 {
          grid-area: v3; }
        article .article .article__content li .vid4 {
          grid-area: v4; }
        article .article .article__content li .vid5 {
          grid-area: v5; }
        article .article .article__content li .vid6 {
          grid-area: v6; } }

@media screen and (min-width: 1400px) {
  article {
    background-image: url(/img/vintage-paper.png);
    background-repeat: repeat;
    background-size: 20%;
    padding: 2rem 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center; }
    article .article {
      width: 1400px;
      height: auto; }
      article .article .article__title {
        text-align: center;
        background-color: #181818;
        color: #c3073f;
        padding: 1rem 0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: 0.1rem; }
      article .article .article__content {
        width: auto;
        height: auto;
        padding: 2rem 0.5rem;
        display: grid;
        grid-template-areas: "v1 v2"
 "v3 v4"
 "v5 v6";
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3 1fr);
        justify-items: center;
        background-color: rgba(24, 24, 24, 0.2);
        border-radius: 1rem;
        color: #2c2c2c; }
        article .article .article__content .content__title {
          font-size: 0.8em;
          font-weight: 500;
          text-align: start;
          text-decoration: underline; }
        article .article .article__content li .vid1 {
          grid-area: v1; }
        article .article .article__content li .vid2 {
          grid-area: v2; }
        article .article .article__content li .vid3 {
          grid-area: v3; }
        article .article .article__content li .vid4 {
          grid-area: v4; }
        article .article .article__content li .vid5 {
          grid-area: v5; }
        article .article .article__content li .vid6 {
          grid-area: v6; } }

@media screen and (max-width: 768px) {
  .footer {
    background-color: #181818;
    display: flex;
    flex-flow: column nowrap; }
    .footer .footer__links {
      color: #eaf1ec;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      letter-spacing: 0.1rem;
      word-spacing: 0.12rem;
      line-height: 1.8rem; }
      .footer .footer__links .links__contact {
        text-align: center;
        padding: 0.4rem 1rem;
        font-size: 0.7em; }
        .footer .footer__links .links__contact li a {
          padding: 0.5rem 0rem; }
      .footer .footer__links .links__tandc {
        text-align: center;
        padding: 0rem 1rem;
        font-size: 0.7em; }
        .footer .footer__links .links__tandc li a {
          padding: 0.5rem 0rem; }
      .footer .footer__links .links__social {
        font-size: 0.85em;
        text-align: center;
        display: flex;
        flex-flow: row; }
        .footer .footer__links .links__social li a {
          text-align: center;
          padding: 0rem 3rem; }
      .footer .footer__links a:hover {
        color: #ecbd25; }
    .footer .copyright {
      color: #c3073f;
      font-size: 0.7em;
      margin: 0rem;
      padding: 0rem;
      text-align: center; } }

@media screen and (min-width: 768px) {
  .footer {
    margin: 0;
    background-color: #181818;
    display: flex;
    flex-flow: column nowrap; }
    .footer .footer__links {
      color: #eaf1ec;
      margin: 0rem;
      padding: 0rem 1rem 0.5rem 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      letter-spacing: 0.1rem;
      word-spacing: 0.1rem;
      line-height: 1.5rem; }
      .footer .footer__links .links__contact {
        font-size: 0.75em;
        padding: 0.4rem 1rem; }
        .footer .footer__links .links__contact li {
          padding: 0.1rem; }
      .footer .footer__links .links__tandc {
        font-size: 0.75em;
        padding: 0.4rem 1rem; }
        .footer .footer__links .links__tandc li {
          padding: 0.1rem; }
      .footer .footer__links .links__social {
        padding: 1rem;
        font-size: 1em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly; }
        .footer .footer__links .links__social li {
          padding: 0rem 0.5rem; }
      .footer .footer__links a:hover {
        color: #ecbd25; }
    .footer .copyright {
      font-size: 0.7em;
      color: #c3073f;
      padding: 0rem 1rem;
      text-align: center; } }
