@mixin button {
    color: $lightgray;
    background-color: $darkgray;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}
