@media screen and (max-width: 992px) {
    .article {
        display: flex;
        flex-flow: column nowrap;
        .article__title {
            text-align: start;
            background-color: $sinopia;
            color: $black;
            font-size: 1.2em;
            font-weight: light;
            padding: 0.3rem 1.5rem;
        }
        .article__content {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .content__title {
                font-size: small;
                font-weight: 100;
                text-align: start;
            }
            li .vid1 .vid2 .vid3 .vid4 .vid5 .vid6 .vid7 .vid8 {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .article {
        margin: 7rem;
        display: flex;
        flex-flow: column nowrap;
        .article__title {
            text-align: start;
            background-color: $sinopia;
            color: $black;
            padding: 0.6rem 0.3rem;
        }
        .article__content {
            margin-left: 2rem;
            padding: 0.1rem;
            display: grid;
            grid-template-areas:
                "v1 v2 v3 v4"
                "v5 v6 v7 v8";
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 50% 50%;
            .content__title {
                font-size: x-small;
                font-weight: 100;
                text-align: start;
            }
            li .vid1 {
                grid-area: v1;
            }
            li .vid2 {
                grid-area: v2;
            }
            li .vid3 {
                grid-area: v3;
            }
            li .vid4 {
                grid-area: v4;
            }
            li .vid5 {
                grid-area: v5;
            }
            li .vid6 {
                grid-area: v6;
            }
            li .vid7 {
                grid-area: v7;
            }
            li .vid8 {
                grid-area: v8;
            }
        }
    }
}
