@media screen and (max-width: 768px) {
    article {
        background-image: url(/img/vintage-paper.png);
        background-repeat: repeat;
        background-size: 10%;
        .article {
            display: flex;
            flex-flow: column nowrap;
            .article__title {
                max-width: 700px;
                text-align: center;
                background-color: $black;
                color: $sinopia;
                font-size: 1.1em;
                padding: 0.5rem 0rem;
            }
            .article__content {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                background-color: transparentize($color: $black, $amount: 0.7);
                .content__title {
                    font-size: 0.85em;
                    font-weight: 600;
                    text-decoration: underline;
                    text-align: center;
                }
                li .vid1 .vid2 .vid3 .vid4 .vid5 .vid6 .vid7 .vid8 {
                    width: auto;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    article {
        background-image: url(/img/vintage-paper.png);
        background-repeat: repeat;
        background-size: 20%;
        padding: 1.5rem 0rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        .article {
            width: 990px;
            height: auto;
            .article__title {
                text-align: center;
                background-color: $black;
                color: $sinopia;
                padding: 0.5rem 0rem;
                font-family: $font;
                font-size: 1.2em;
                font-weight: 700;
                letter-spacing: 0.1rem;
            }
            .article__content {
                width: auto;
                height: auto;
                padding: 1rem 0.2rem;
                display: grid;
                grid-template-areas:
                    "v1 v2"
                    "v3 v4"
                    "v5 v6";
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(3 1fr);
                justify-items: center;
                background-color: transparentize($color: $black, $amount: 0.8);
                border-radius: 0.5rem;
                color: $darkgray;
                .content__title {
                    font-size: 0.8em;
                    font-weight: 500;
                    text-align: start;
                    text-decoration: underline;
                }
                li .vid1 {
                    grid-area: v1;
                }
                li .vid2 {
                    grid-area: v2;
                }
                li .vid3 {
                    grid-area: v3;
                }
                li .vid4 {
                    grid-area: v4;
                }
                li .vid5 {
                    grid-area: v5;
                }
                li .vid6 {
                    grid-area: v6;
                }
            }
        }
    }
}
@media screen and (min-width: 1400px) {
    article {
        background-image: url(/img/vintage-paper.png);
        background-repeat: repeat;
        background-size: 20%;
        padding: 2rem 0rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        .article {
            width: 1400px;
            height: auto;
            .article__title {
                text-align: center;
                background-color: $black;
                color: $sinopia;
                padding: 1rem 0rem;
                font-family: $font;
                font-size: 1.5em;
                font-weight: 800;
                letter-spacing: 0.1rem;
            }
            .article__content {
                width: auto;
                height: auto;
                padding: 2rem 0.5rem;
                display: grid;
                grid-template-areas:
                    "v1 v2"
                    "v3 v4"
                    "v5 v6";
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(3 1fr);
                justify-items: center;
                background-color: transparentize($color: $black, $amount: 0.8);
                border-radius: 1rem;
                color: $darkgray;
                .content__title {
                    font-size: 0.8em;
                    font-weight: 500;
                    text-align: start;
                    text-decoration: underline;
                }
                li .vid1 {
                    grid-area: v1;
                }
                li .vid2 {
                    grid-area: v2;
                }
                li .vid3 {
                    grid-area: v3;
                }
                li .vid4 {
                    grid-area: v4;
                }
                li .vid5 {
                    grid-area: v5;
                }
                li .vid6 {
                    grid-area: v6;
                }
            }
        }
    }
}
