@media screen and (max-width: 768px) {
    article {
        background-color: rgb(224, 219, 180);
        .article {
            width: auto;
            display: flex;
            flex-flow: column nowrap;
            margin: 0;
            padding: 1rem 0.5rem;
            .article__title {
                width: auto;
                text-align: center;
                padding: 0.5rem 0rem;
                background-color: $saffron;
                box-shadow: 0em 0rem 1.5rem $black;
                color: $darksinopia;
                text-shadow: 0rem 0rem 0.1rem $black;
                font-size: 1.25em;
                font-weight: 900;
            }
            .article__content {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                background-color: transparentize($color: $black, $amount: 0.3);
                border-radius: 0.1rem;
                box-shadow: 0em 0rem 1.5rem $black;
                .content__title {
                    font-size: 0.85em;
                    font-weight: 600;
                    color: $lightgray;
                    text-shadow: 0rem 0.1rem 0.1rem $black;
                    text-align: center;
                }
                li .vid1 .vid2 .vid3 .vid4 .vid5 .vid6 .vid7 .vid8 {
                    width: auto;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    article {
        background-color: rgb(224, 219, 180);
        .article {
            width: 900px;
            display: flex;
            flex-flow: column nowrap;
            margin: 0;
            padding: 1rem 0.5rem;
            .article__title {
                width: auto;
                text-align: center;
                padding: 0.8rem 0rem;
                background-color: $saffron;
                box-shadow: 0em 0rem 1.5rem $black;
                color: $darksinopia;
                text-shadow: 0rem 0rem 0.1rem $black;
                font-size: 1.25em;
                font-weight: 900;
            }
            .article__content {
                width: auto;
                height: auto;
                padding: 1rem 0.2rem;
                display: grid;
                grid-template-areas:
                    "v1 v2"
                    "v3 v4"
                    "v5 v6";
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(3 1fr);
                justify-items: center;
                background-color: transparentize($color: $black, $amount: 0.3);
                border-radius: 0.1rem;
                box-shadow: 0em 0rem 1.5rem $black;
                .content__title {
                    font-size: 0.85em;
                    font-weight: 600;
                    color: $lightgray;
                    text-shadow: 0rem 0.1rem 0.1rem $black;
                    text-align: center;
                }
                li .vid1 {
                    grid-area: v1;
                }
                li .vid2 {
                    grid-area: v2;
                }
                li .vid3 {
                    grid-area: v3;
                }
                li .vid4 {
                    grid-area: v4;
                }
                li .vid5 {
                    grid-area: v5;
                }
                li .vid6 {
                    grid-area: v6;
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    article {
        background-color: rgb(224, 219, 180);
        padding-top: 2rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        .article {
            width: 1200px;
            height: auto;
            .article__title {
                width: auto;
                text-align: center;
                padding: 1rem 0rem;
                background-color: $saffron;
                box-shadow: 0em 0rem 1.5rem $black;
                border-radius: 0.3rem 0.3rem 0rem 0rem;
                color: $darksinopia;
                text-shadow: 0rem 0rem 0.1rem $black;
                font-size: 1.8em;
                font-weight: 900;
            }
            .article__content {
                width: auto;
                height: auto;
                padding: 2rem 0.5rem;
                display: grid;
                grid-template-areas:
                    "v1 v2"
                    "v3 v4"
                    "v5 v6";
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(3 1fr);
                justify-items: center;
                background-color: transparentize($color: $black, $amount: 0.3);
                border-radius: 0.1rem;
                box-shadow: 0em 0rem 1.5rem $black;
                .content__title {
                    font-size: 0.8em;
                    font-weight: 500;
                    text-align: start;
                    text-decoration: underline;
                }
                li .vid1 {
                    grid-area: v1;
                }
                li .vid2 {
                    grid-area: v2;
                }
                li .vid3 {
                    grid-area: v3;
                }
                li .vid4 {
                    grid-area: v4;
                }
                li .vid5 {
                    grid-area: v5;
                }
                li .vid6 {
                    grid-area: v6;
                }
            }
        }
    }
}
