@media screen and (max-width: 768px) {
    .footer {
        background-color: $black;
        display: flex;
        flex-flow: column nowrap;
        .footer__links {
            color: $lightgray;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            letter-spacing: 0.1rem;
            word-spacing: 0.12rem;
            line-height: 1.8rem;
            .links__contact {
                text-align: center;
                padding: 0.4rem 1rem;
                font-size: 0.7em;
                li a {
                    padding: 0.5rem 0rem;
                }
            }
            .links__tandc {
                text-align: center;
                padding: 0rem 1rem;
                font-size: 0.7em;
                li a {
                    padding: 0.5rem 0rem;
                }
            }
            .links__social {
                font-size: 0.85em;
                text-align: center;
                display: flex;
                flex-flow: row;
                li a {
                    text-align: center;
                    padding: 0rem 3rem;
                }
            }
            a:hover {
                color: $saffron;
            }
        }
        .copyright {
            color: $sinopia;
            font-size: 0.7em;
            margin: 0rem;
            padding: 0rem;
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        margin: 0;
        background-color: $black;
        display: flex;
        flex-flow: column nowrap;
        .footer__links {
            color: $lightgray;
            margin: 0rem;
            padding: 0rem 1rem 0.5rem 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            letter-spacing: 0.1rem;
            word-spacing: 0.1rem;
            line-height: 1.5rem;
            .links__contact {
                font-size: 0.75em;
                padding: 0.4rem 1rem;
                li {
                    padding: 0.1rem;
                }
            }
            .links__tandc {
                font-size: 0.75em;
                padding: 0.4rem 1rem;
                li {
                    padding: 0.1rem;
                }
            }
            .links__social {
                padding: 1rem;
                font-size: 1em;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                li {
                    padding: 0rem 0.5rem;
                }
            }
            a:hover {
                color: $saffron;
            }
        }
        .copyright {
            font-size: 0.7em;
            color: $sinopia;
            padding: 0rem 1rem;
            text-align: center;
        }
    }
}
