@media only screen and (max-width: 768px) {
    header {
        background-color: $black;
        width: auto;
        height: auto;
        font-family: $title;
        /* top */
        .header__top {
            padding: 0.5rem 1rem 1.2rem 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .header__logo {
                display: flex;
                flex-flow: row;
                img {
                    width: 55px;
                    height: 45px;
                }
                h1 {
                    font-family: $elelivros;
                    padding-top: 0rem;
                    color: $saffron;
                    font-size: 1.3em;
                    font-weight: 500;
                    em {
                        color: $sinopia;
                        font-size: 1.5em;
                    }
                }
            }
            .header__icons {
                padding: 0.5rem 0.2rem;
                color: $saffron;
                display: flex;
                flex-flow: row nowrap;
                font-size: 0.8em;
                li a {
                    padding: 0.25rem;
                }
                a:hover {
                    color: $sinopia;
                }
            }
        }
        /* bottom */
        .header__bottom {
            padding-bottom: 0.5rem;
            font-family: $title;
            display: flex;
            flex-flow: row wrap;
            .header__nav {
                align-self: flex-start;
                padding: 0rem 0rem 1rem 0.5rem;
                color: $sinopia;
                width: 100px;
                height: 50px;
                .collapsible-menu {
                    font-size: 1.2em;
                    a {
                        display: block;
                    }
                    label {
                        display: block;
                        cursor: pointer;
                        background: url(../img/menu.svg) no-repeat center left;
                        background-size: 30%;
                        padding: 8px 0px 10px 25px;
                    }
                    input#menu {
                        display: none;
                    }
                    input:checked + label {
                        background-image: url(../img/close-fill.svg);
                    }
                    .menu-content {
                        background-color: $black;
                        border-radius: 0.5rem;
                        font-size: 0.8em;
                        overflow: hidden;
                        max-height: 0;
                        li a {
                            padding: 0.4rem 1rem;
                            .active {
                                color: $lightgray;
                            }
                        }
                        a:hover {
                            color: $saffron;
                        }
                    }
                    input:checked ~ label {
                        background-image: url(../img/close-fill.svg);
                    }
                    input:checked ~ .menu-content {
                        max-height: 100%;
                        position: absolute;
                    }
                }
            }
            .header__searchbar {
                margin-left: auto;
                padding: 0.4rem;
                width: auto;
                .button-search {
                    width: 50px;
                    height: 35px;
                    border-radius: 25%;
                    border: none;
                    background-color: $darksinopia;
                    color: $saffron;
                    .iconify {
                        font-size: 1.5em;
                    }
                }
                .button-search:hover {
                    color: $black;
                }
                .input {
                    height: auto;
                    border-radius: 0.4rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        background-color: $black;
        width: auto;
        height: auto;
        font-family: $title;
        /* top */
        .header__top {
            padding: 0.5rem 1rem 1.2rem 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .header__logo {
                display: flex;
                flex-flow: row;
                img {
                    width: 90px;
                    height: 70px;
                }
                img:hover {
                    animation-name: logo;
                    animation-duration: 0.8s;
                    animation-timing-function: ease-out;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                }
                h1 {
                    font-family: $elelivros;
                    padding-top: 0rem;
                    color: $saffron;
                    font-size: 2em;
                    em {
                        color: $sinopia;
                        font-size: 1.5em;
                    }
                }
            }
            .header__icons {
                padding: 0.1rem 0.1rem;
                color: $saffron;
                display: flex;
                flex-flow: row nowrap;
                font-size: 1.2em;
                li a {
                    padding: 0.25rem;
                }
                a:hover {
                    color: $sinopia;
                }
            }
        }
        /* bottom */
        .header__bottom {
            padding-bottom: 0.5rem;
            font-family: $title;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .header__nav {
                padding: 0rem;
                color: $sinopia;
                .collapsible-menu {
                    .menu-content {
                        display: flex;
                        flex-flow: row wrap;
                        font-size: 1em;
                        font-weight: 500;
                        li a {
                            padding: 0rem 0.8rem;
                            .active {
                                color: $lightgray;
                            }
                        }
                        a:hover {
                            color: $saffron;
                        }
                    }
                    input {
                        display: none;
                    }
                    label {
                        display: none;
                    }
                }
                .active {
                    color: $lightgray;
                }
            }
            .header__searchbar {
                margin-left: auto;
                padding: 0rem 0.5rem 1rem 0.5rem;
                width: auto;
                .button-search {
                    width: 50px;
                    height: 35px;
                    border-radius: 25%;
                    border: none;
                    background-color: $darksinopia;
                    color: $saffron;
                    .iconify {
                        font-size: 1.5em;
                    }
                }
                .button-search:hover {
                    color: $black;
                }
                .input {
                    height: auto;
                    border-radius: 0.4rem;
                }
            }
        }
    }
}

@keyframes logo {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1.05, 1.05);
    }
    20% {
        transform: scale(1.1, 1.1);
    }
    30% {
        transform: scale(1.15, 1.15);
    }
    40% {
        transform: scale(1.2, 1.2);
    }
    50% {
        transform: scale(1.25, 1.25);
    }
    60% {
        transform: scale(1.2, 1.2);
    }
    70% {
        transform: scale(1.15, 1.15);
    }
    80% {
        transform: scale(1.1, 1.1);
    }
    90% {
        transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(1, 1);
    }
}
