@media only screen and (max-width: 576px) {
    .header {
        background-color: $black;
        display: flex;
        flex-flow: column nowrap;
        .header__icons {
            color: $darkgray;
            .header__icons--social {
                display: none;
            }
            .header__icons--account {
                display: flex;
                flex-flow: row nowrap;
                li {
                    text-align: center;
                    a {
                        font-size: 1em;
                    }
                }
            }
        }
        .header__logo {
            display: flex;
            flex-flow: column nowrap;
            text-align: center;
            img {
                width: 85px;
                height: 60px;
            }
            h1 {
                color: $saffron;
                font-size: 1.6em;
                font-weight: bold;
            }
            em {
                color: $sinopia;
                font-size: 1em;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        background-color: $black;
        display: flex;
        flex-flow: column nowrap;
        .header__icons {
            color: $darkgray;
            font-size: 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            .header__icons--social {
                display: none;
            }
            .header__icons--account {
                margin: 0;
                padding: 0.5rem 0rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                li {
                    text-align: center;
                    padding: 0rem 0.4rem;
                }
            }
        }
        .header__logo {
            display: flex;
            flex-flow: column nowrap;
            text-align: center;
            img {
                width: 100px;
                height: 80px;
            }
            h1 {
                font-family: $font;
                color: $saffron;
                font-size: 1.6em;
                font-weight: bold;
            }
            em {
                font-family: $font;
                color: $sinopia;
                font-size: 1em;
                font-weight: bold;
            }
        }
    }
}
@media only screen and (min-width:768px){
    
}


@media only screen and (min-width: 992px) {
    header {
        background-color: $black;
        
        /* top */
        .header__top {
            padding: 0.5rem 1rem 1.2rem 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .header__logo {
                display: flex;
                flex-flow: row;
                img{
                    width: 100px;
                    height: 90px;
                }
                h1{
                    font-family: $font;
                    padding-top: 1.5rem;
                    color: $saffron;
                    font-size: 2.2em;
                    font-weight: 500;
                    em{
                        color: $sinopia;
                    }
                }
            }
            .header__icons {
                padding: 0.4rem 2.5rem 0.5rem 0rem;
                color: $saffron;
                display: flex;
                flex-flow: row nowrap;
                font-size: 1.3em;
                li a{
                    padding: 0.4rem;
                }
                a:hover{
                    color: $sinopia;
                }
            }
        }
        
        /* bottom */
        .header__bottom {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .header__nav {
                padding: 1rem;
                color: $saffron;
                .topnav {
                    font-size: 1em;
                    font-weight: 600;
                    display: flex;
                    flex-flow: row nowrap;
                    li a{
                        padding: 0rem 1.2rem;
                    }
                    .active {
                        color: $lightgray;
                    }
                    a:hover{
                        color: $sinopia;
                    }
                }
            }
            .header__searchbar {
                padding: 1rem 2rem;
                .button {
                    padding: 0.3rem 0.5rem;
                    border-radius: 0.5rem;
                    border: none;
                    background-color: $sinopia;
                    color: $saffron;
                    text-shadow: 0rem 0rem 0.15rem $black;
                }
                .input{
                    margin-right: 0.8rem;
                    width: 350px;
                    height: 40px;
                    border-radius: 0.3rem;
                    background-color: lightgrey;
                }
            }
        }
    }
}
