@media only screen and (max-width: 768px) {
    header {
        background-color: $black;
        width: auto;
        height: auto;
        /* top */
        .header__top {
            padding: 0.5rem 1rem 1.2rem 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .header__logo {
                display: flex;
                flex-flow: row;
                animation-name: glow;
                animation-duration: 10s;
                animation-timing-function:ease-in-out;
                animation-delay: 0;
                animation-iteration-count: infinite;
                animation-direction:alternate;
                img {
                    width: 50px;
                    height: 45px;
                }
                h1 {
                    font-family: $font;
                    padding-top: 0.8rem;
                    color: $saffron;
                    font-size: 1.25em;
                    font-weight: 500;
                    em {
                        color: $sinopia;
                    }
                }
            }
            .header__icons {
                padding: 0.5rem 0.2rem;
                color: $saffron;
                display: flex;
                flex-flow: row nowrap;
                font-size: 0.8em;
                li a {
                    padding: 0.25rem;
                }
                a:hover {
                    color: $sinopia;
                }
            }
        }
        /* bottom */
        .header__bottom {
            padding-bottom: 0.5rem;
            display: flex;
            flex-flow: row wrap;
            .header__nav {
                align-self: flex-start;
                padding: 0rem 0rem 1rem 0.5rem;
                color: $saffron;
                width: 100px;
                height: 50px;
                .collapsible-menu {
                    font-size: 1.2em;
                    a {
                        display: block;
                    }
                    label {
                        display: block;
                        cursor: pointer;
                        background: url(../img/menu.svg) no-repeat center left;
                        background-size: 30%;
                        padding: 8px 0px 10px 25px;
                    }
                    input#menu {
                        display: none;
                    }
                    input:checked + label {
                        background-image: url(../img/close-fill.svg);
                    }
                    .menu-content {
                        background-color: $black;
                        border-radius: 0.5rem;
                        font-size: 1em;
                        overflow: hidden;
                        max-height: 0;
                        li a {
                            padding: 0.4rem 1rem;
                        }
                        a:hover {
                            color: $sinopia;
                        }
                    }
                    input:checked ~ label {
                        background-image: url(../img/close-fill.svg);
                    }
                    input:checked ~ .menu-content {
                        max-height: 100%;
                        position: absolute;
                    }
                }
            }
            .header__searchbar {
                margin-left: auto;
                padding: 0.4rem;
                width: auto;
                .button-search {
                    width: 35px;
                    height: 35px;
                    border-radius: 25%;
                    border: none;
                    background-color: $sinopia;
                    color: $saffron;
                    .iconify {
                        font-size: 1.5em;
                    }
                }
                .input {
                    height: auto;
                    border-radius: 0.4rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        background-color: $black;
        width: auto;
        height: auto;
        /* top */
        .header__top {
            padding: 0.5rem 1rem 1.2rem 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .header__logo {
                display: flex;
                flex-flow: row;
                animation-name: glow;
                animation-duration: 10s;
                animation-timing-function:ease-in-out;
                animation-delay: 0;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                img {
                    width: 95px;
                    height: 75px;
                }
                h1 {
                    font-family: $font;
                    padding-top: 1.2rem;
                    color: $saffron;
                    font-size: 1.8em;
                    font-weight: 500;
                    em {
                        color: $sinopia;
                    }
                }
            }
            .header__icons {
                padding: 0.1rem 0.1rem;
                color: $saffron;
                display: flex;
                flex-flow: row nowrap;
                font-size: 1.2em;
                li a {
                    padding: 0.25rem;
                }
                a:hover {
                    color: $sinopia;
                }
            }
        }
        /* bottom */
        .header__bottom {
            padding-bottom: 0.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .header__nav {
                padding: 0rem;
                color: $saffron;
                .collapsible-menu {
                    .menu-content {
                        display: flex;
                        flex-flow: row wrap;
                        font-size: 1em;
                        font-weight: 500;
                        li a {
                            padding: 0rem 0.8rem;
                        }
                        a:hover {
                            color: $sinopia;
                        }
                    }
                    input {
                        display: none;
                    }
                    label {
                        display: none;
                    }
                }
            }
            .header__searchbar {
                margin-left: auto;
                padding: 0rem 0.5rem 1rem 0.5rem;
                width: auto;
                .button-search {
                    width: 50px;
                    height: 35px;
                    border-radius: 25%;
                    border: none;
                    background-color: $sinopia;
                    color: $saffron;
                    .iconify {
                        font-size: 1.5em;
                    }
                }
                .input {
                    height: auto;
                    border-radius: 0.4rem;
                }
            }
        }
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0.1rem #458626, 0 0 0.2rem #458626, 0 0 0.3rem #458626, 0 0 0.4rem #458626, 0 0 0.5rem #458626,
            0 0 0.6rem #458626, 0 0 0.7rem #458626;
    }

    33% {
        text-shadow: 0 0 0.2rem #0b729b, 0 0 0.3rem #0b729b, 0 0 0.4rem #0b729b, 0 0 0.5rem #0b729b, 0 0 0.6rem #0b729b,
            0 0 0.7rem #0b729b, 0 0 0.8rem #0b729b;
    }
    66% {
        text-shadow: 0 0 0.1rem #458626, 0 0 0.2rem #458626, 0 0 0.3rem #458626, 0 0 0.4rem #458626, 0 0 0.5rem #458626,
            0 0 0.6rem #458626, 0 0 0.7rem #458626;
    }
    100% {
        text-shadow: 0 0 0.2rem #0b729b, 0 0 0.3rem #0b729b, 0 0 0.4rem #0b729b, 0 0 0.5rem #0b729b, 0 0 0.6rem #0b729b,
            0 0 0.7rem #0b729b, 0 0 0.8rem #0b729b;
    }
}
