@media only screen and (max-width: 992px) {
    .index {
        background-image: url(/img/vintage-paper.png);
        background-repeat: repeat;
        background-size: 10%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .quote {
            width: 700px;
            background-image: url(/img/bgquote-sm.jpg);
            background-color: $black;
            background-size: cover;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0rem 0rem 0.2rem;
            padding: 2rem;
            color: $lightgray;
            text-shadow: 0.15rem 0.15rem 0.1rem $black;
            font-family: serif;
            letter-spacing: 0.1rem;
            word-spacing: 0.1rem;
            font-size: 0.8em;
            font-weight: 500;
            text-align: end;
        }
        .main {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .aside-bd {
                margin: 0rem 1rem;
                max-width: 700px;
                background-color: $darksinopia;
                border-radius: 0.15rem;
                .bd-title {
                    padding: 0.3rem;
                    background-color: $black;
                    border-radius: 0.15rem;
                    color: $saffron;
                    text-align: center;
                    font-size: 1em;
                    font-weight: light;
                }
                .bd-text {
                    padding: 0.5rem 0.2rem;
                    font-size: 0.8em;
                    text-align: center;
                    color: $lightgray;
                }
            }
            .section {
                max-width: 700px;
                min-width: 576px;
                background-color: transparentize($color: $black, $amount: 0.3);
                .heading {
                    background-color: $black;
                    border-radius: 0.3rem;
                    .heading__title {
                        padding: 0.5rem 0.2rem;
                        color: $saffron;
                        text-align: center;
                        font-family: $font;
                        font-size: 1em;
                        font-weight: 700;
                    }
                }
                .card {
                    height: auto;
                }
                .card-text {
                    display: none;
                }
                img {
                    max-width: 150px;
                    max-height: 350px;
                    align-self: center;
                }
                img:hover {
                    transform: scale(1.1, 1.1);
                }
            }
            .aside {
                width: auto;
                padding: 1rem 1.5rem;
                .news {
                    background-color: $darksinopia;
                    .news__title {
                        font-family: $font;
                        background-color: $black;
                        color: $saffron;
                        text-align: center;
                        font-size: 1em;
                    }
                    p {
                        padding: 0.2rem;
                        font-size: 0.8em;
                        text-align: center;
                        color: $lightgray;
                    }
                }
            }
        }
    }
    /* catalogo */
    .catalog {
        display: flex;
        flex-flow: column;
        .navcateg {
            display: grid;
            grid-template-areas: "pri" "categ" "sec" "subcateg";
            grid-template-columns: auto;
            grid-template-rows: 10% 20% 10% 60%;
            .categories {
                margin: 0;
                padding: 0.4rem;
                grid-area: categ;
                display: flex;
                flex-flow: row wrap;
                background-color: $lightgray;
                color: $black;
                text-align: center;
                font-size: 0.8em;
                li a {
                    padding: 0rem 0.2rem;
                    border-right: 0.1rem solid black;
                }
            }
            .subcategories {
                margin: 0;
                padding: 0.4rem;
                grid-area: subcateg;
                display: flex;
                flex-flow: row wrap;
                background-color: $lightgray;
                color: $black;
                text-align: center;
                font-size: 0.8em;
                li a {
                    padding: 0rem 0.4rem;
                    border-right: 0.1rem solid black;
                }
            }
            .categ__title--pri {
                grid-area: pri;
                margin: 0;
                padding: 0.1rem;
                background-color: $saffron;
                color: $black;
                text-align: start;
                font-family: $font;
                font-size: 1em;
                font-weight: bold;
                letter-spacing: 0.1rem;
            }
            .categ__title--sec {
                grid-area: sec;
                margin: 0;
                padding: 0.1rem;
                background-color: $saffron;
                color: $black;
                text-align: start;
                font-family: $font;
                font-size: 1em;
                font-weight: bold;
                letter-spacing: 0.1rem;
            }
            a:hover {
                color: $saffron;
            }
        }
        .library {
            background-image: url("/img/bgimage4.jpg");
            background-position: center;
            background-repeat: repeat;
            background-size: contain;
            padding: 3rem 1rem;
            .library__title {
                padding: 0.5rem;
                background-color: $saffron;
                color: $black;
                text-align: end;
                font-family: $font;
                font-size: 0.8em;
                font-weight: 800;
            }
            img:hover {
                transform: rotate3d(1, 2, 3, 10deg) scale(1.5, 1.5);
            }
        }
    }
    /* nosotros */
    .info {
        margin: 0;
        padding: 0.5rem;
        width: auto;
        .info__title {
            padding: 0.2rem 0rem;
            background-color: $black;
            color: $lightgray;
            border-radius: 0.2rem;
            font-size: 1em;
        }
        .info__body {
            .info__body--title {
                padding: 0.1rem 0rem;
                background-color: $saffron;
                border: 0.1rem solid $darkgray;
                border-radius: 0.2rem;
                font-size: 0.85em;
            }
            .info__body--content {
                padding: 0.5rem 0.1rem;
                background-color: $lightgray;
            }
        }
    }
    /* contacto */
    .form {
        .form__title {
            padding: 0.2rem;
            margin: 0;
            background-color: $saffron;
            color: $black;
            text-align: center;
            font-size: 0.2em;
            font-weight: bold;
        }
        .form__body {
            padding: 1rem 0.5rem;
            text-align: center;
            background-color: $lightgray;
            border: 0.1rem solid $black;
            .form__body--input {
                display: flex;
                flex-flow: column nowrap;
                font-size: 0.8em;
                font-weight: bold;
            }
            .form__body--news {
                font-size: 1em;
                font-weight: bold;
            }
            .form__body--comment {
                font-size: 1em;
                font-weight: bold;
            }
            .form__buttons {
                font-size: 1em;
                font-weight: lighter;
                .button {
                    padding: 0.1rem 0.4rem;
                    border-radius: 0.2rem;
                    background-color: $sinopia;
                    color: $saffron;
                    font-weight: bold;
                    text-shadow: 0.1rem 0.1rem 0rem $black;
                }
            }
        }
    }
    /* PublicDomain */
    .mainpubdomain {
        margin: 0;
        padding: 2rem;
        background-color: $lightgray;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .pubdomain {
            background-image: url(/img/bgimage7.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 1rem;
            padding: 1rem;
            border: 0.5rem solid $sinopia;
            border-radius: 0.5rem;
            .pubdomain__title {
                text-align: center;
                padding: 0.5rem 0.5rem;
                background-color: $black;
                border-radius: 0.2rem;
                color: $saffron;
            }
            .pubdomain__body {
                padding: 1rem 0rem;
                text-align: start;
                font-size: normal;
                font-weight: 300;
                color: $lightgray;
            }
        }
        .pubdomain__links {
            background-image: url(/img/bgimage7.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 1rem;
            padding: 1rem;
            border: 0.5rem solid $sinopia;
            border-radius: 0.5rem;
            .pubdomain__links--title {
                text-align: center;
                padding: 0.5rem 0.5rem;
                background-color: $black;
                border-radius: 0.2rem;
                color: $saffron;
            }
            .pubdomain__links--links {
                padding: 1rem 0rem;
                text-align: start;
                font-size: normal;
                font-weight: 300;
                color: $lightgray;
                li a {
                    color: $sinopia;
                    text-shadow: 0.1rem 0.1rem 0.1rem $black;
                    padding-left: 3rem;
                    font-weight: bold;
                }
                a:hover {
                    color: $saffron;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    /* index */
    .index {
        background-image: url(/img/vintage-paper.png);
        background-repeat: repeat;
        background-size: 20%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .quote {
            margin-top: 0.5rem;
            padding: 4rem 1rem;
            width: 900px;
            height: 250px;
            background-image: url(/img/bgquote-md.jpg);
            background-color: $black;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            color: $lightgray;
            text-shadow: 0rem 0.1rem 0.5rem black;
            font-family: serif;
            font-size: 1em;
            font-weight: 350;
            letter-spacing: 0.1rem;
            word-spacing: 0.15rem;
            text-align: right;
        }
        .main {
            width: 900px;
            align-self: center;
            display: grid;
            grid-template-areas:
                "aside1 section"
                "aside2 section"
                "none section";
            grid-template-columns: 25% 75%;
            grid-template-rows: auto;
            .section {
                background-color: transparentize($color: $black, $amount: 0.3);
                grid-area: section;
                margin: 0.5rem 0rem;
                .heading {
                    background-color: $black;
                    .heading__title {
                        padding: 0.5rem 0.2rem;
                        margin-bottom: 0.2rem;
                        color: $saffron;
                        text-align: center;
                        font-family: $font;
                        font-size: 1.3em;
                        font-weight: 700;
                    }
                }
                img:hover {
                    transform: scale(1.1, 1.1);
                }
            }
            .aside-bd {
                grid-area: aside1;
                margin: 0.5rem 1rem 0.5rem 0rem;
                background-color: $darksinopia;
                border-radius: 0.25rem;
                .bd-title {
                    padding: 0.3rem;
                    background-color: $black;
                    border-radius: 0.2rem;
                    color: $saffron;
                    text-align: center;
                    font-size: 1em;
                    font-weight: light;
                }
                .bd-text {
                    padding: 0.5rem 0.2rem;
                    font-size: 0.8em;
                    text-align: center;
                    color: $lightgray;
                }
            }
            .aside {
                grid-area: aside2;
                margin: 0.5rem 1rem 0.5rem 0rem;
                border-radius: 0.25rem;
                .news {
                    background-color: $darksinopia;
                    border-radius: 0.1rem;
                    .news__title {
                        padding: 0.3rem;
                        background-color: $black;
                        border-radius: 0.2rem;
                        color: $saffron;
                        text-align: center;
                        font-size: 1em;
                        font-weight: light;
                    }
                    p {
                        padding: 0.2rem 0.2rem 0.3rem 0.2rem;
                        font-size: 0.8em;
                        text-align: center;
                        color: $lightgray;
                    }
                }
            }
        }
    }
    /* catalogo */
    .catalog {
        display: grid;
        grid-template-areas: "categories library";
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        margin: 0rem 2rem;
        .navcateg {
            padding-right: 0.5rem;
            grid-area: categories;
            background-color: $lightgray;
            color: $black;
            .categories {
                text-align: start;
                font-family: $font;
                font-size: 0.9em;
                font-weight: 200;
            }
            .subcategories {
                text-align: start;
                font-family: $font;
                font-size: 0.9em;
                font-weight: 200;
            }
            .categ__title--pri,
            .categ__title--sec {
                padding: 0.5rem 0rem;
                background-color: $saffron;
                color: $black;
                box-shadow: 0rem 0.1rem 1rem $black;
                text-align: start;
                font-family: $font;
                font-size: 1.1em;
                font-weight: 600;
                letter-spacing: 0.1rem;
            }

            a:hover {
                color: $saffron;
            }
        }
        .library {
            background-image: url("/img/bgimage4.jpg");
            background-position: center;
            background-repeat: repeat;
            background-size: contain;
            grid-area: library;
            padding: 3rem 1rem;
            .library__title {
                padding: 0.5rem 1.5rem;
                background-color: $saffron;
                color: $black;
                text-align: end;
                font-family: $font;
                font-size: 0.5em;
                font-weight: 100;
            }
            img:hover {
                transform: rotate3d(1, 2, 3, 10deg) scale(1.5, 1.5);
            }
        }
    }
    /* nosotros*/
    .info {
        background-image: url(/img/bgimage2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0;
        padding: 2rem;
        .info__title {
            width: 990px;
            padding: 0.5rem 0rem;
            background-color: $black;
            color: $lightgray;
            border-radius: 0.2rem;
            font-size: 2em;
        }
        .info__body {
            width: 990px;
            .info__body--title {
                padding: 0.1rem 0rem;
                background-color: $saffron;
                border: 0.1rem solid $black;
                border-radius: 0.2rem;
                font-size: 1.5em;
            }
            .info__body--content {
                padding: 1rem 0rem;
                background-color: $lightgray;
                letter-spacing: 0.1rem;
                word-spacing: 0.2rem;
                line-height: 1.7rem;
                font-weight: 450;
            }
        }
    }
    /* contacto*/
    .form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0rem;
        padding: 2rem;
        background-image: url(/img/bgimage2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .form__title {
            width: 990px;
            margin: 0.4rem;
            padding: 0.2rem;
            background-color: $black;
            color: $saffron;
            border-radius: 0.2rem;
            text-align: center;
            font-size: 1.5em;
        }
        .form__body {
            width: 990px;
            padding: 1rem 0.5rem;
            text-align: center;
            background-color: $lightgray;
            border: 0.2rem solid $black;
            border-radius: 0.5rem;
            .form__body--input {
                display: flex;
                flex-flow: column nowrap;
                font-size: 1.2em;
                font-weight: bold;
            }
            .form__body--news {
                font-size: 1.2em;
                font-weight: bold;
            }
            .form__body--comment {
                font-size: 1.2em;
                font-weight: bold;
            }
            .form__buttons {
                font-size: 1.2em;
                font-weight: bold;
                .button {
                    padding: 0.1rem 0.4rem;
                    border-radius: 0.2rem;
                    background-color: $sinopia;
                    color: $saffron;
                    text-shadow: 0.1rem 0.1rem 0rem $black;
                }
            }
        }
    }
    /* PublicDomain */
    .mainpubdomain {
        margin: 0;
        padding: 2rem;
        background-image: url(/img/bgimage7.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .pubdomain {
            background-color: $lightgray;
            width: 990px;
            margin: 1rem;
            padding: 2rem;
            border: 0.5rem solid $sinopia;
            border-radius: 0.5rem;
            .pubdomain__title {
                text-align: center;
                padding: 0.5rem 0.5rem;
                background-color: $black;
                border-radius: 0.2rem;
                color: $saffron;
            }
            .pubdomain__body {
                padding: 1rem 0rem;
                text-align: start;
                font-size: large;
                font-weight: 500;
            }
        }
        .pubdomain__links {
            background-color: $lightgray;
            width: 990px;
            text-align: start;
            margin: 1rem;
            padding: 2rem;
            border: 0.5rem solid $sinopia;
            border-radius: 0.5rem;
            .pubdomain__links--title {
                text-align: center;
                padding: 0.5rem 0.5rem;
                background-color: $black;
                border-radius: 0.2rem;
                color: $saffron;
            }
            .pubdomain__links--links {
                padding: 1rem 0rem;
                text-align: start;
                font-size: large;
                font-weight: 500;
                li a {
                    color: $sinopia;
                    text-shadow: 0.1rem 0rem 0.1rem $black;
                    padding-left: 3rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    /* index */
    .index {
        background-image: url(/img/vintage-paper.png);
        background-repeat: repeat;
        background-size: 20%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .quote {
            margin-top: 0.5rem;
            padding: 5rem;
            width: 1400px;
            height: 300px;
            background-image: url(/img/bgquote-xl.jpg);
            background-color: $black;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            color: $lightgray;
            text-shadow: 0rem 0.1rem 0.5rem black;
            font-family: serif;
            font-size: 1.4em;
            font-weight: 350;
            letter-spacing: 0.15rem;
            word-spacing: 0.2rem;
            text-align: right;
        }
        .main {
            width: 1400px;
            align-self: center;
            display: grid;
            grid-template-areas: "aside1 section aside2";
            grid-template-columns: 20% 60% 20%;
            grid-template-rows: auto;
            .section {
                background-color: transparentize($color: $black, $amount: 0.3);
                grid-area: section;
                margin: 1rem;
                .heading {
                    background-color: $black;
                    .heading__title {
                        padding: 0.5rem 0.2rem;
                        margin-bottom: 0.2rem;
                        color: $saffron;
                        text-align: center;
                        font-family: $font;
                        font-size: 1.3em;
                        font-weight: 700;
                    }
                }
                img:hover {
                    transform: scale(1.1, 1.1);
                }
            }
            .aside {
                grid-area: aside2;
                position: sticky;
                top: 0;
                margin: 1rem 0rem 1rem 1rem;
                .news {
                    margin: 0rem;
                    background-color: $darksinopia;
                    border-radius: 0.3rem;
                    .news__title {
                        padding: 0.3rem;
                        background-color: $black;
                        border-radius: 0.3rem;
                        color: $saffron;
                        text-align: center;
                        font-size: 1.25em;
                        font-weight: light;
                    }
                    p {
                        padding: 0.5rem 0.1rem;
                        font-size: 1em;
                        text-align: center;
                        color: $lightgray;
                    }
                }
            }
            .aside-bd {
                grid-area: aside1;
                position: sticky;
                top: 0;
                margin: 1rem 1rem 1rem 0rem;
                background-color: $darksinopia;
                border-radius: 0.3rem;
                .bd-title {
                    padding: 0.3rem;
                    background-color: $black;
                    border-radius: 0.3rem;
                    color: $saffron;
                    text-align: center;
                    font-size: 1.25em;
                    font-weight: light;
                }
                .bd-text {
                    padding: 0.5rem 0.2rem;
                    font-size: 1em;
                    text-align: center;
                    color: $lightgray;
                }
            }
        }
    }
    /* catalogo */
    .catalog {
        display: grid;
        grid-template-areas: "categories library";
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        margin: 0rem 2rem;
        .navcateg {
            padding-right: 0.5rem;
            grid-area: categories;
            background-color: $lightgray;
            color: $black;
            .categories {
                text-align: start;
                font-family: $font;
                font-size: 0.9em;
                font-weight: 200;
            }
            .subcategories {
                text-align: start;
                font-family: $font;
                font-size: 0.9em;
                font-weight: 200;
            }
            .categ__title--pri,
            .categ__title--sec {
                padding: 0.5rem 0rem;
                background-color: $saffron;
                color: $black;
                box-shadow: 0rem 0.1rem 1rem $black;
                text-align: start;
                font-family: $font;
                font-size: 1.1em;
                font-weight: 600;
                letter-spacing: 0.1rem;
            }

            a:hover {
                color: $saffron;
            }
        }
        .library {
            background-image: url("/img/bgimage4.jpg");
            background-position: center;
            background-repeat: repeat;
            background-size: contain;
            grid-area: library;
            padding: 3rem 1rem;
            .library__title {
                padding: 0.5rem 1.5rem;
                background-color: $saffron;
                color: $black;
                text-align: end;
                font-family: $font;
                font-size: 0.5em;
                font-weight: 100;
            }
            img:hover {
                transform: rotate3d(1, 2, 3, 10deg) scale(1.5, 1.5);
            }
        }
    }
    /* nosotros*/
    .info {
        background-image: url(/img/bgimage2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0;
        padding: 2rem;
        .info__title {
            width: 990px;
            padding: 0.5rem 0rem;
            background-color: $black;
            color: $lightgray;
            border-radius: 0.2rem;
            font-size: 2em;
        }
        .info__body {
            width: 990px;
            .info__body--title {
                padding: 0.1rem 0rem;
                background-color: $saffron;
                border: 0.1rem solid $black;
                border-radius: 0.2rem;
                font-size: 1.5em;
            }
            .info__body--content {
                padding: 1rem 0rem;
                background-color: $lightgray;
                letter-spacing: 0.1rem;
                word-spacing: 0.2rem;
                line-height: 1.7rem;
                font-weight: 450;
            }
        }
    }
    /* contacto*/
    .form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0rem;
        padding: 2rem;
        background-image: url(/img/bgimage2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .form__title {
            width: 990px;
            margin: 0.4rem;
            padding: 0.2rem;
            background-color: $black;
            color: $saffron;
            border-radius: 0.2rem;
            text-align: center;
            font-size: 1.5em;
        }
        .form__body {
            width: 990px;
            padding: 1rem 0.5rem;
            text-align: center;
            background-color: $lightgray;
            border: 0.2rem solid $black;
            border-radius: 0.5rem;
            .form__body--input {
                display: flex;
                flex-flow: column nowrap;
                font-size: 1.2em;
                font-weight: bold;
            }
            .form__body--news {
                font-size: 1.2em;
                font-weight: bold;
            }
            .form__body--comment {
                font-size: 1.2em;
                font-weight: bold;
            }
            .form__buttons {
                font-size: 1.2em;
                font-weight: bold;
                .button {
                    padding: 0.1rem 0.4rem;
                    border-radius: 0.2rem;
                    background-color: $sinopia;
                    color: $saffron;
                    text-shadow: 0.1rem 0.1rem 0rem $black;
                }
            }
        }
    }
    /* PublicDomain */
    .mainpubdomain {
        margin: 0;
        padding: 2rem;
        background-image: url(/img/bgimage7.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .pubdomain {
            background-color: $lightgray;
            width: 990px;
            margin: 1rem;
            padding: 2rem;
            border: 0.5rem solid $sinopia;
            border-radius: 0.5rem;
            .pubdomain__title {
                text-align: center;
                padding: 0.5rem 0.5rem;
                background-color: $black;
                border-radius: 0.2rem;
                color: $saffron;
            }
            .pubdomain__body {
                padding: 1rem 0rem;
                text-align: start;
                font-size: large;
                font-weight: 500;
            }
        }
        .pubdomain__links {
            background-color: $lightgray;
            width: 990px;
            text-align: start;
            margin: 1rem;
            padding: 2rem;
            border: 0.5rem solid $sinopia;
            border-radius: 0.5rem;
            .pubdomain__links--title {
                text-align: center;
                padding: 0.5rem 0.5rem;
                background-color: $black;
                border-radius: 0.2rem;
                color: $saffron;
            }
            .pubdomain__links--links {
                padding: 1rem 0rem;
                text-align: start;
                font-size: large;
                font-weight: 500;
                li a {
                    color: $sinopia;
                    text-shadow: 0.1rem 0rem 0.1rem $black;
                    padding-left: 3rem;
                }
            }
        }
    }
}
