@media screen and (max-width: 768px) {
    .nav{
        display: flex;
        flex-flow: column nowrap;
        .topnav {
            background-color: $black;
            color: $saffron;
            font-size: small;
            font-weight: 0.1em;
            margin: 0;
            padding: 0.25rem 0rem;
            letter-spacing: 0.1em;
            word-spacing: 0em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            li {
                font-size: smaller;
                padding: 0rem 0.2rem;
            }
        }
        .searchbar {
            margin: 0;
            padding: 0.5rem 0rem;
            background-color: $black;
            text-align: center;
            .button {
                color: $black;
                background-color: $saffron;
                padding: 0.1rem;
                border-radius: 0.2rem;
                font-size: xx-small;
                font-weight: bold;
                text-align: center;
            }
        }
        .bottomnav {
            background-color: $saffron;
            color: $black;
            margin: 0;
            padding: 0.5rem 0rem;
            font-size: small;
            font-weight: 0.1em;
            letter-spacing: 0em;
            word-spacing: 0em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            li{
                padding: 0rem 0.2rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        flex-flow: column nowrap;
        .topnav {
            background-color: $black;
            color: $saffron;
            font-size: 1.2em;
            font-weight: 400;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 0;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            li {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }
        }
        .searchbar {
            margin: 0;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            background-color: $black;
            text-align: center;
            .button {
                color: $black;
                background-color: $saffron;
                padding: 0.3rem;
                border-radius: 0.3rem;
                font-size: small;
                font-weight: bold;
                text-align: center;
                letter-spacing: 0.1rem;
            }
        }
        .bottomnav {
            background-color: $saffron;
            color: $black;
            margin: 0;
            padding: 0.8rem;
            font-size: 1.2em;
            font-weight: 600;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            li {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
    
}
li a:hover{
    color: $sinopia;
}
.active{
    color: $darkgray
}

