@media screen and (max-width: 768px) {
    .nav {
        display: flex;
        flex-flow: column nowrap;
        .topnav {
            width: 100%;
            background-color: $black;
            color: $saffron;
            text-align: center;
            font-size: 0.8em;
            font-weight: 550;
            margin: 0;
            padding: 0.5rem 0rem;
            letter-spacing: 0.1em;
            word-spacing: 0.1em;
            display: flex;
            flex-flow: column;
            align-items: center;
            li {
                padding: 0.2rem;
            }
            a:hover {
                color: $sinopia;
            }
        }
        .searchbar {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            padding-bottom: 0.5rem;
            background-color: $black;
            text-align: center;
            .button {
                width: auto;
                color: $saffron;
                background-color: $sinopia;
                text-shadow: 0rem 0rem 1rem $black;
                border: none;
                padding: 0rem;
                border-radius: 0.4rem;
                font-size: 1em;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

